.header {
  margin: auto;
  border: 1px solid rgba(185, 185, 185, 0.671);
  border-radius: 0 0 9px 9px;
  width: 40%;
  height: 15%;
}
.header > h1 {
  margin: 0%;
  background-color: rgb(106, 176, 222);
}
